#navpanel{
	top:10em;
	left:1em; 
	width: 14em;
	position: absolute;
	background-color: #CCCCCC;
	
}
#content{
	top:10em;
	left: 20em;
	width:55%;
	height:90%;
	position: relative;
	border:solid thin black;
    background-color: yellow;
}
#banner{
	top: 1em;
	left: 1em;
	width:90%;
	height:7em;
	position: absolute;
	text-align:center;
	border: solid thin black;
}
